{
  "openapi": "3.0.3",
  "info": {
    "title": "RentOn Backend API",
    "description": "REST API untuk platform marketplace sewa kendaraan RentOn. Melayani 3 klien: aplikasi mobile Android (modul `api`), backoffice admin (modul `admin`), dan portal agent (modul `agent`). Autentikasi terpadu berbasis header `key` untuk semua role.",
    "version": "2.0.0",
    "contact": {
      "name": "RentOn Backend"
    }
  },
  "servers": [
    {
      "url": "https://renton.co.id",
      "description": "Production"
    },
    {
      "url": "http://localhost/renton",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Login/logout terpadu untuk admin, staff, dan agent"
    },
    {
      "name": "api/Basic",
      "description": "Endpoint publik (cek email/telepon, wilayah, status aplikasi)"
    },
    {
      "name": "api/Customer",
      "description": "Akun, profil, dan wallet customer"
    },
    {
      "name": "api/CustomerRent",
      "description": "Booking sisi customer"
    },
    {
      "name": "api/Partner",
      "description": "Akun & profil partner"
    },
    {
      "name": "api/PartnerRent",
      "description": "Kendaraan, konfigurasi, booking, dan promosi sisi partner"
    },
    {
      "name": "api/PartnerReward",
      "description": "Program reward partner"
    },
    {
      "name": "api/RentVehicle",
      "description": "Pencarian & checkout kendaraan"
    },
    {
      "name": "api/Chat",
      "description": "Chat customer-partner"
    },
    {
      "name": "api/News",
      "description": "Berita/promosi in-app"
    },
    {
      "name": "admin/Dashboard",
      "description": "Ringkasan statistik backoffice"
    },
    {
      "name": "admin/Customer",
      "description": "Verifikasi & manajemen customer"
    },
    {
      "name": "admin/Partner",
      "description": "Verifikasi & manajemen partner"
    },
    {
      "name": "admin/Agent",
      "description": "Manajemen agent & komisi"
    },
    {
      "name": "admin/RentVehicle",
      "description": "Master data kendaraan & manajemen transaksi"
    },
    {
      "name": "admin/PartnerReward",
      "description": "Manajemen program reward"
    },
    {
      "name": "admin/Voucher",
      "description": "Manajemen voucher"
    },
    {
      "name": "admin/News",
      "description": "Manajemen berita & broadcast notifikasi"
    },
    {
      "name": "admin/Report",
      "description": "Laporan PDF"
    },
    {
      "name": "admin/Config",
      "description": "Pengaturan global & manajemen user admin"
    },
    {
      "name": "agent/Dashboard",
      "description": "Ringkasan performa agent"
    },
    {
      "name": "agent/Partner",
      "description": "Rekrutmen & manajemen partner oleh agent"
    },
    {
      "name": "agent/Config",
      "description": "Profil & pengaturan akun agent"
    },
    {
      "name": "agent/Agent",
      "description": "Penarikan komisi agent"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "API key yang didapat dari POST /auth/login (admin/staff/agent) atau POST /api/customer atau POST /api/partner (mobile). Dikirim sebagai header HTTP bernama `key`."
      },
      "AppSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-App-Secret",
        "description": "Wajib untuk seluruh endpoint api/* (mobile app). Nilai rahasia bersama, terpisah dari key otentikasi akun."
      }
    },
    "schemas": {
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Berhasil"
          },
          "data": [],
          "meta": {
            "type": "object",
            "nullable": true,
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_unfiltered": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Data yang dikirim tidak valid"
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "status",
          "message"
        ]
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Input tidak valid (422)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Header key tidak disertakan atau tidak valid (401)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Role akun tidak diizinkan mengakses endpoint ini (403)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Data tidak ditemukan (404)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/basic": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Info tanggal minggu berjalan",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "week_start": {
                          "type": "string"
                        },
                        "week_end": {
                          "type": "string"
                        },
                        "today": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/basic/application_status": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Cek status maintenance & versi aplikasi",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "maintenance": {
                          "type": "string"
                        },
                        "maintenance_message": {
                          "type": "string"
                        },
                        "android_app_version_code": {
                          "type": "string"
                        },
                        "android_app_version_name": {
                          "type": "string"
                        },
                        "android_app_update_link": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/basic/check_email": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Cek ketersediaan email",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/basic/check_phone": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Cek ketersediaan nomor telepon",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/basic/check_agent": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Cek validitas id agen",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/basic/regencies": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Daftar kabupaten/kota berdasarkan provinsi",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "regencies": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "province",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/basic/active_regencies": {
      "get": {
        "tags": [
          "api/Basic"
        ],
        "summary": "Daftar kabupaten/kota yang aktif",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "regencies": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Info Customer API",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Registrasi akun customer baru",
        "description": "Endpoint publik, tidak memerlukan header key. Membuat akun, key, dan mengunggah dokumen identitas.",
        "responses": {
          "201": {
            "description": "Berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "referal": {
                    "type": "string"
                  },
                  "identity_number": {
                    "type": "string"
                  },
                  "img_profile": {
                    "type": "string",
                    "format": "binary"
                  },
                  "img_identity": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/customer/login": {
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Login akun customer",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ValidationError"
          },
          "403": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/customer/detail": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Detail profil, saldo, dan rekening customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer": {
                          "type": "object"
                        },
                        "balance": {
                          "type": "object"
                        },
                        "bank_total": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/banks": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Daftar rekening bank milik customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "banks": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Tambah atau ubah rekening bank customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah rekening bank",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bank_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "bank_number": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "bank_id",
                  "name",
                  "bank_number"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/bank": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Daftar master bank yang tersedia",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "banks": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/bank/{id}": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Detail rekening bank customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bank": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "delete": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Hapus rekening bank customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil menghapus rekening bank",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/profile_image": {
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Ubah foto profil customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah foto profil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "img_profile": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "img_profile": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "img_profile"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/name": {
      "put": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Ubah nama customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah nama",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/password": {
      "put": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Ubah kata sandi customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah kata sandi",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "old_password": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string"
                  }
                },
                "required": [
                  "old_password",
                  "new_password"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/home": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Data beranda aplikasi (rekomendasi kendaraan & berita)",
        "description": "Header `key` opsional -- jika disertakan dan valid, menambahkan data saldo & kode referal personalisasi.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicles_recomendation": {
                          "type": "array"
                        },
                        "promote_vehicles_recomendation": {
                          "type": "array"
                        },
                        "news_preview": {
                          "type": "array"
                        },
                        "balance": {
                          "type": "object"
                        },
                        "referal_code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/activate": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Aktivasi akun customer",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Akun berhasil diaktifkan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/customer/status": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Status akun, chat unread, dan versi aplikasi",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "partner_chat_unread": {
                          "type": "integer"
                        },
                        "customer_chat_unread": {
                          "type": "integer"
                        },
                        "customer_status": {
                          "type": "string"
                        },
                        "partner_status": {
                          "type": "string"
                        },
                        "maintenance": {
                          "type": "string"
                        },
                        "android_app_version_code": {
                          "type": "string"
                        },
                        "android_app_version_name": {
                          "type": "string"
                        },
                        "partner_features": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/balance": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Saldo customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/topup_config": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Konfigurasi minimum topup & daftar bank perusahaan",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "topup_minimum": {
                          "type": "string"
                        },
                        "banks": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/topups": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Daftar permintaan topup customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "topups": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Ajukan permintaan topup saldo",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "201": {
            "description": "Berhasil mengirimkan permintaan topup",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value_with_code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "company_bank_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "value",
                  "company_bank_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/topups/{id}": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Detail permintaan topup",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "detail": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/topup_proof/{id}": {
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Unggah bukti pembayaran topup",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengirim bukti verifikasi topup",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "img_proof": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "img_proof"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/withdraws": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Daftar permintaan withdraw customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "withdraws": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Ajukan permintaan penarikan saldo",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "201": {
            "description": "Berhasil mengirimkan permintaan withdraw",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "account_bank_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "value",
                  "account_bank_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/withdraw_config": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Konfigurasi minimum withdraw & rekening customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "withdraw_minimum": {
                          "type": "string"
                        },
                        "banks": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/point": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Jumlah poin customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "point": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/point_exchange_config": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Konfigurasi minimum & rate penukaran poin",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "exchange_point_minimum": {
                          "type": "string"
                        },
                        "rate_point_to_balance": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/point/exchange": {
      "post": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Tukar poin menjadi saldo",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil menukar poin ke saldo",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "point": {
                    "type": "number"
                  }
                },
                "required": [
                  "point"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/point_transactions": {
      "get": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Riwayat transaksi poin customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_point": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/location": {
      "put": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Perbaharui lokasi terakhir customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil memperbaharui lokasi terakhir",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                },
                "required": [
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customer/push_token": {
      "put": {
        "tags": [
          "api/Customer"
        ],
        "summary": "Perbaharui push notification token customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil memperbaharui token",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customerRent": {
      "get": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Info Customer Bookings API",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customerRent/bookings": {
      "get": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Daftar booking milik customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_rent_vehicle": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customerRent/bookings/{id}": {
      "get": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Detail booking customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "partner": {
                          "type": "object"
                        },
                        "vehicle": {
                          "type": "object"
                        },
                        "transaction_detail": {
                          "type": "object"
                        },
                        "voucher": {
                          "type": "object"
                        },
                        "balance": {
                          "type": "object"
                        },
                        "hour_overtime": {
                          "type": "number"
                        },
                        "feedback": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "delete": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Batalkan booking oleh customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil membatalkan pemesanan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customerRent/booking_status/{id}": {
      "put": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Ubah status booking oleh customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah status pemesanan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/customerRent/booking_review/{id}": {
      "post": {
        "tags": [
          "api/CustomerRent"
        ],
        "summary": "Kirim ulasan booking oleh customer",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "201": {
            "description": "Berhasil mengirim ulasan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner": {
      "get": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Info Partner API",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Registrasi akun customer sebagai mitra (partner)",
        "description": "Memerlukan header `key` yang valid (require_auth). Mengunggah dokumen identitas & lisensi usaha (multipart).",
        "responses": {
          "201": {
            "description": "Berhasil Registrasi",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownership_id": {
                    "type": "integer"
                  },
                  "company_name": {
                    "type": "string"
                  },
                  "regencies_id": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tax_number": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "integer"
                  },
                  "referal": {
                    "type": "string"
                  },
                  "img_profile": {
                    "type": "string",
                    "format": "binary"
                  },
                  "img_identity": {
                    "type": "string",
                    "format": "binary"
                  },
                  "img_driver_licence": {
                    "type": "string",
                    "format": "binary"
                  },
                  "img_bussiness_licence": {
                    "type": "string",
                    "format": "binary"
                  },
                  "img_bussiness_registration": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "delete": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Batalkan registrasi mitra yang ditolak",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Sekarang anda dapat melakukan registrasi ulang",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner/status": {
      "get": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Status registrasi mitra",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner/detail": {
      "get": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Detail profil mitra & fitur yang dimiliki",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "partner": {
                          "type": "object"
                        },
                        "features": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner/profile_image": {
      "post": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Ubah foto profil mitra",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil mengubah foto profil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "img_profile": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "img_profile": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "img_profile"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner/profile": {
      "put": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Ubah profil mitra",
        "description": "Memerlukan header `key` yang valid (require_auth). Sertakan minimal satu field.",
        "responses": {
          "200": {
            "description": "Berhasil mengubah profil mitra",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "regencies_id": {
                    "type": "integer"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partner/feature_requests": {
      "post": {
        "tags": [
          "api/Partner"
        ],
        "summary": "Ajukan permintaan fitur/layanan mitra",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "201": {
            "description": "Berhasil mengirim permintaan layanan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "feature_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "feature_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partnerRent": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Info Partner Rent API",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partnerRent/functional_types": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Daftar tipe fungsional kendaraan",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partnerRent/vehicle_input_config": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Konfigurasi input form tambah kendaraan",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicle_type": {
                          "type": "array"
                        },
                        "brand": {
                          "type": "array"
                        },
                        "color": {
                          "type": "array"
                        },
                        "transmition_type": {
                          "type": "array"
                        },
                        "driven_type": {
                          "type": "array"
                        },
                        "fuel": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "functional_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/partnerRent/vehicle_models": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Daftar model kendaraan berdasarkan brand",
        "description": "Endpoint publik, tidak memerlukan header key.",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppSecret": []
          }
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/partnerRent/vehicles": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Daftar kendaraan milik mitra",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicles": {
                          "type": "array"
                        },
                        "price_min": {
                          "type": "number"
                        },
                        "price_max": {
                          "type": "number"
                        },
                        "functional_type": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_passenger",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_passenger",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "vehicle_functional_type_selected",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Tambah kendaraan baru",
        "description": "Memerlukan header `key` yang valid (require_auth). Foto diunggah terpisah lewat /api/partnerRent/vehicle_photos lalu nama filenya disertakan di `photos`.",
        "responses": {
          "201": {
            "description": "Berhasil Menambahkan Kendaraan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "vehicle_type": {
                    "type": "integer"
                  },
                  "brand_id": {
                    "type": "integer"
                  },
                  "vehicle_model": {
                    "type": "string"
                  },
                  "max_passenger": {
                    "type": "integer"
                  },
                  "max_baggage": {
                    "type": "integer"
                  },
                  "year": {
                    "type": "integer"
                  },
                  "color_id": {
                    "type": "integer"
                  },
                  "transmition_type": {
                    "type": "integer"
                  },
                  "driven_type": {
                    "type": "integer"
                  },
                  "fuel_type": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "price_with_driver_basic": {
                    "type": "number"
                  },
                  "price_with_driver_full": {
                    "type": "number"
                  },
                  "with_driver": {
                    "type": "integer"
                  },
                  "delivered": {
                    "type": "integer"
                  },
                  "pickoff": {
                    "type": "integer"
                  },
                  "functional_type": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "integer"
                  },
                  "photos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      }
    },
    "/api/partnerRent/vehicles/{id}": {
      "get": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Detail kendaraan mitra",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicle": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "AppSecret": []
          }
        ]
      },
      "put": {
        "tags": [
          "api/PartnerRent"
        ],
        "summary": "Ubah data kendaraan",
        "description": "Memerlukan header `key` yang valid (require_auth).",
        "responses": {
          "200": {
            "description": "Berhasil Mengubah Kendaraan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                  ],
                  "properties": {
                    "data": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
[...]
